axidrawinternal @ git+https://${AXIDRAWINTERNAL_DEPLOY_USER}:${AXIDRAWINTERNAL_DEPLOY_PASS}@gitlab.com/evil-mad/AxiDraw-Internal@master
certifi==2023.7.22
charset-normalizer==2.0.7
idna==3.3
ink-extensions==2.0.0
lxml==4.9.3
plotink==1.9.0
pyserial==3.5
requests==2.31.0
tqdm==4.64.0
urllib3==1.26.18
